<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" ng-app> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" ng-app> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" ng-app> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="locafoxApp"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Authentication and basic Google Map manipulation</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    body {color: grey;font-family: Helvetica;padding:20px;margin: 0 auto; max-width: 1100px; text-align: center;}
    .angular-google-map-container { height: 400px; }
    button {margin: 30px; width: 80px; height: 30px; cursor: pointer;}
    li {list-style: none;text-align: left;}
    </style>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    <script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
    <script type="text/javascript" src="js/angular-google-maps.js"></script>
    <script src="js/main.js"></script>
</head>
<body>
    <div ng-controller="mainCtrl">
        <google-map center="map.center" zoom="map.zoom">
            <markers
                    models="map.myMarkers"
                    coords="'self'"
                    bounds="map.bounds"
                    >
            </markers>
        </google-map>
        <button ng-click="submit()">fetch data</button>
        <div>
        <div >
            <li ng-repeat="marker in map.myMarkers">
            id : {{marker.id}} &#10074;
            latitude : {{marker.latitude}} &#10074;
            longitude : {{marker.longitude}}
            </li>
        </div>
        <div>
    </div>
</body>
</html>
